<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/pHeader.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <header>
      <h1>Your cart</h1>
      <a href="/home"><button>products page</button></a>
    </header>

  <div class="contain">

    <div id="cart" >

 

    </div> <!--prod div end-->
    
  

  </div>
  <div id=total>  </div> 
  
 
</body>
<script src="/js/cartScript.js"></script>

</html>