header{
    text-align: right;
    margin-right: 20px;
}
/* .button {
    position: relative;
    font-size: 1em;
    padding: 5px;
    color: black;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  } */
  .button:hover {
    background: darkgrey;
  }
  header h1{
    position: absolute;
    left: 20px;
    top: 0px;
  }

  